version: "3.3"

networks:
    net_service:
        name: net_service
        driver: bridge

services:
    traefik:
        image: "traefik:v2.4"
        container_name: "traefik"
        command:
            #- "--log.level=DEBUG"
            - "--api.insecure=true"
            - "--providers.docker.network=net_service"
            - "--providers.docker=true"
            - "--providers.docker.exposedbydefault=false"
            #   - "--providers.docker.defaultRule=Host(`{{ trimPrefix `/` .Name }}.localhost`)"
            - "--entrypoints.web.address=:80"
        ports:
            - "80:80"
            - "8081:8080"
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock:ro"
        networks:
            - net_service

    whoami:
        image: "traefik/whoami"
        container_name: "simple-service"
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.whoami.rule=Host(`whoami.localhost`)"
            - "traefik.http.routers.whoami.entrypoints=web"
        networks:
            - net_service